{% extends './base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">{{ name }}</h3>
            <h6 class="op-7 mb-2">Remove your new data here</h6>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger">
            Are you sure you want to remove this <b>{{ object }}</b> data, this action cannot be reverted.
        </div>
        <input type="submit" value="{{ button }}" class="btn btn-danger mt-2">
        <input type="button" onclick="onBack()" value="Back" class="btn btn-primary mt-2">
    </form>
</div>
{% endblock %}