{% extends './includes/base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">Manage Beneficiary</h3>
            <h6 class="op-7 mb-2">Manage your system's beneficiary here</h6>
        </div>
    </div>
    {% include './includes/message.html' %}
    <div class="card py-3">
        <div class="table-responsive">
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>Beneficiary</th>
                        <th>Status</th>
                        <th>Gender</th>
                        <th>Municipality</th>
                        <th>Barangay</th>
                        <th>Livelihood</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beneficiary in beneficiaries %}
                    <tr>
                        <td>{{ beneficiary.related_to.get_full_name }}</td>
                        <td>
                            {% if beneficiary.status == 'Approved' %}
                            <span class="badge bg-primary">{{ beneficiary.status }}</span>
                            {% elif beneficiary.status == 'Disapproved' %}
                            <span class="badge btn-danger">{{ beneficiary.status }}</span>
                            {% else %}
                            <span class="badge btn-warning">{{ beneficiary.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ beneficiary.related_to.gender }}</td>
                        <td>{{ beneficiary.related_to.municipality }}</td>
                        <td>{{ beneficiary.related_to.barangay }}</td>
                        <td>
                            <span class="badge bg-primary">{{ beneficiary.main_livelihood }}</span>
                        </td>
                        <td>{{ beneficiary.related_to.date_added }}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-start gap-4">
                                <a href="{% url 'update_beneficiary_personal_info' pk=beneficiary.related_to.id %}">
                                    <i class="far fa-user"></i>
                                </a>
                                <a href="#" id="approve-and-notify" data-id="{{ beneficiary.id }}">
                                    <i class="fas fa-paper-plane"></i>
                                </a>
                                <a href="{% url 'update_beneficiary_farm_info' pk=beneficiary.id  %}">
                                    <i class="fas fa-book"></i>
                                </a>
                                <a href="{% url 'remove_beneficiary_farm_info' pk=beneficiary.related_to.id %}">
                                    <i class="far fa-trash-alt text-danger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}


{% block specfic_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function(){
        $(document).on('click', '#approve-and-notify', function(event){
            event.preventDefault();
            const id = $(this).data('id');
            Swal.fire({
                title: "Are you sure you want to approve and notify this beneficiary?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, agree!"
                }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{% url "approve_and_notify" %}',
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        data: {
                            'id': id
                        },
                        success: function(response){
                            if (response.status == 'success') {
                                
                                Swal.fire(
                                    'Notified!',
                                    `${response.message}`,
                                   `${response.status}`
                                )

                                setTimeout(function() {
                                    window.location.reload()
                                }, 3000)
                                
                            } else if (response.status == 'error') {
                                Swal.fire(
                                    'Failed!',
                                    `${response.message}`,
                                    `${response.status}`
                                )
                            }
                        },
                        error: function(xhr, status, error){
                            Swal.fire(
                                'Error!',
                                'Failed to notify client.',
                                'error'
                            )
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}
