{% extends './includes/base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">Manage Notification Information</h3>
            <h6 class="op-7 mb-2">Manage notification in the system</h6>
        </div>
        <div class="ms-md-auto py-2 py-md-0">
            <a href="{% url 'add_notification' %}" class="btn btn-primary btn-round">Create One Time Notification</a>
        </div>
    </div>
    {% include './includes/message.html' %}
    <div class="card py-3">
        <div class="table-responsive">
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>Notification</th>
                        <th>Municipality</th>
                        <th>Farmer Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="w-40">{{ item.message|truncatechars:150 }}</td>
                        <td>{{ item.for_municipality }}</td>
                        <td>{{ item.farmer_type }}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-start gap-4">
                                <a href="#" id="notify" data-id="{{ item.id }}" data-type="{{ item.farmer_type }}" data-municipality="{{ item.for_municipality }}">
                                    <i class="fas fa-paper-plane"></i>
                                </a>
                                <a href="{% url 'update_notification' pk=item.id %}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="{% url 'delete_notification' pk=item.id %}">
                                    <i class="far fa-trash-alt text-danger"></i>
                                </a>
                            </div>
                        </td>
    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block specfic_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function(){
        $(document).on('click', '#notify', function(event){
            event.preventDefault();
            const id = $(this).data('id');
            const municipality = $(this).data('municipality');
            const type = $(this).data('type');
            Swal.fire({
                title: `Are you sure you want to notify ${type.toLowerCase()} beneficiaries with in ${municipality}?`,
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, agree!"
                }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{% url "notification" %}',
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        data: {
                            'id': id,
                            'type': type,
                        },
                        success: function(response){
                            if (response.status == 'success') {
                                
                                Swal.fire(
                                    'Notified!',
                                    `${response.message}`,
                                   `${response.status}`
                                )

                                setTimeout(function() {
                                    window.location.reload()
                                }, 3000)
                                
                            } else if (response.status == 'error') {
                                Swal.fire(
                                    'Failed!',
                                    `${response.message}`,
                                    `${response.status}`
                                )
                            }
                        },
                        error: function(xhr, status, error){
                            Swal.fire(
                                'Error!',
                                'Failed to notify client.',
                                'error'
                            )
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}

