{% extends './includes/base.html' %}

{% block content %}
<div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
        <div>
            <h3 class="fw-bold mb-3">Export Report</h3>
            <h6 class="op-7 mb-2">Export your report here</h6>
        </div>
    </div>
    {% include './includes/message.html' %}
    <div class="card py-3 px-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for input in export_form %}
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="{{ input.id_for_label }}" class="form-label">
                            {{ input.label }} 
                            {% if input.field.required %}
                            <span class="text-danger">*</span>
                            {% endif %}
                        </label>
                        {{ input }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <input type="submit" value="Export Report" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="card py-3">
        <div class="table-responsive">
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>Beneficiary</th>
                        <th>Status</th>
                        <th>Sex</th>
                        <th>Municipality</th>
                        <th>Livelihood</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    {% for beneficiary in items %}
                    <tr>
                        <td>{{ beneficiary.related_to.get_full_name }}</td>
                        <td>
                            {% if beneficiary.status == 'Approved' %}
                            <span class="badge bg-primary">{{ beneficiary.status }}</span>
                            {% elif beneficiary.status == 'Disapproved' %}
                            <span class="badge btn-danger">{{ beneficiary.status }}</span>
                            {% else %}
                            <span class="badge btn-warning">{{ beneficiary.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ beneficiary.related_to.gender }}</td>
                        <td>{{ beneficiary.related_to.municipality }}</td>
                        <td>
                            <span class="badge bg-primary">{{ beneficiary.main_livelihood }}</span>
                        </td>
                        <td>{{ beneficiary.related_to.date_added }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block specfic_js %}
<script>
    document.getElementById("id_municipality").addEventListener("change", function() {
    fetch('{% url "get_barangay" %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            municipality_id: this.value
        })
    }).then((response) => {
        if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
    }).then((data) => {
        const barangaySelect = document.getElementById('id_barangay');
        barangaySelect.innerHTML = '';
        const option = new Option('Select Option','');
        barangaySelect.add(option);
        data.barangay.forEach(barangay => {
            const option = new Option(barangay.name, barangay.id);
            barangaySelect.add(option);
        });

    }).catch((error) => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
